{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="stylesheets/admin-style.css">

</head> --}}


        <div id="sidebar">

            <div class="my-shop">
                <div class="img img-sidebar">
                    <img src="images/logo/logo.png" alt="">
                </div>
                <div class="name">
                    <span>Thắng Nụ</span>
                </div>
            </div>

            <div class="my-info">
                <div class="img img-sidebar">
                    <img src="images/user/user2-160x160.jpg" alt="">
                </div>

                <div class="name">
                    <span>Ma Seo Tráng</span>
                </div>
            </div>

            <div class="control">

                <div class="home sidebar-chind">
                    <div class="nav">
                        <a href="/admin">
                            <i class="fa-solid fa-house-chimney"></i>
                            <span>Trang chủ</span>
                        </a>
                    </div>
                </div>
        
                <div class="products sidebar-chind">
                    <div class="nav">
                        <i class="fa-solid fa-bowl-food"></i>
                        <span>Món ăn</span>
                        <i class="fa-solid fa-angle-down icon-down abc"></i>
                        <i class="fa-solid fa-angle-up icon-up abc"></i>
                    </div>
                    
                    <ul class="sidebar-chind2">
                        <li class="add-product">
                            <i class="fa-solid fa-plus"></i>
                            <a href="/admin/addproduct">Thêm món ăn</a>
                        </li>
                        <li class="view-product">
                            <i class="fa-solid fa-eye"></i>
                            <a href="/admin/products">Xem món ăn</a>
                        </li>
                    </ul>
        
                </div>
        
                <div class="order sidebar-chind">
                    <div class="nav">
                        <i class="fa-solid fa-cart-arrow-down"></i>
                        <span>Đơn hàng</span>
                        <i class="fa-solid fa-angle-down icon-down"></i>
                        <i class="fa-solid fa-angle-up icon-up"></i>
                    </div>

                    <ul class="sidebar-chind2">
                        <li class="odered"><i class="fa-solid fa-clipboard-check"></i></i></i><a href="/admin/booked">Đã đặt</a></li>
                        <li class="add-order"><i class="fa-solid fa-plus"></i><a href="/admin/check-table-status">Thêm đơn mới</a></li>
                        <li class="wait-for-confirmation"><i class="fa-solid fa-square-check"></i><a href="/admin/wait-for-confirmation">Chờ xác nhận</a></li>
                        
                    </ul>

                    
                </div>

                <div class="category sidebar-chind">
                    <div class="nav">
                        <i class="fa-solid fa-list"></i>
                        <span>Danh Mục</span>
                        <i class="fa-solid fa-angle-down icon-down"></i>
                    <i class="fa-solid fa-angle-up icon-up"></i>
                    </div>
                    <ul class="sidebar-chind2">
                        <li><i class="fa-solid fa-eye"></i><a href="/admin/categorys">Xem danh mục</a></li>
                        <li><i class="fa-solid fa-plus"></i><a href="/admin/categorys">Thêm danh mục</a></li>
                    
                    </ul>
                </div>

                <div class="my-table sidebar-chind">
                    <div class="nav">
                        <i class="fa-solid fa-table-columns"></i>
                        <span>Bàn ăn</span>
                        <i class="fa-solid fa-angle-down icon-down"></i>
                    <i class="fa-solid fa-angle-up icon-up"></i>
                    </div>
                    <ul class="sidebar-chind2">
                        <li><i class="fa-solid fa-eye"></i><a href="/admin/tables">Xem bàn ăn</a></li>
                        <li><i class="fa-solid fa-plus"></i><a href="/admin/tables">Thêm bàn ăn</a></li>
                    
                    </ul>
                </div>
        
                <div class="revenue sidebar-chind">
                    <div class="nav">
                        <i class="fa-solid fa-money-bill-1-wave"></i>
                        <span>Doanh thu</span>
                    </div>
        
                </div>
            </div>
        </div>





{{!-- </body>
</html> --}}