<div id="footer">

    <div class="about-us footer1 footer-chind">
        <div class="title">
            <h2>Nhà hàng lẩu Thắng Nụ</h2>
        </div>

        <div class="content">
            <b>Hotline : </b><span>0386640397</span> <br>
            <span>Lẩu Thắng Nụ là hệ thống chuỗi nhà hàng buffet lẩu tại Hà Nội được đánh giá cao về chất lượng và giá cả. Buffet tại Lẩu Thắng Nụ gồm: 129K – 169K – 199K, khách hàng sẽ được thưởng thức tới gần 50 món ăn từ ba chỉ bò Mỹ, hải sản tổng hợp, khai vị hấp dẫn với Cá chiên hoàng bào, Ghẹ sữa rang muối, Ngao xào sốt Thái cùng vô vàn những món ăn, thức uống hấp dẫn khác…</span>
        </div>

    </div>

    <div class="facilities-us footer1 footer-chind">
        <div class="title">
            <h2>Cơ sở lẩu Thắng Nụ</h2>

        </div>

        <div class="content">
            <i class="fa-solid fa-location-dot"></i>
            <span>Phường Tân Thịnh - TP.Thái Nguyên - Tỉnh Thái Nguyên</span>
        </div>
    </div>

    <div class="follow-us footer1">
        <div class="title">
            <h2>Theo dõi chúng tôi</h2>
        </div>

        <div class="content">
            <div>Theo dõi chúng tôi tại các trang thông tin</div>

            <div>
                <i class="fa-brands fa-facebook icon-facebook"></i>
                <i class="fa-brands fa-instagram-square icon-íntagram"></i>
                <i class="fa-brands fa-youtube icon-youtube"></i>

            </div>
        </div>
    </div>
</div>