<div class="container">
    <div id="header">
        <div id="navParent" class="navParent">
            <div class="logo">
                <a href="">
                    <img src="./images/logo/logo.png" alt="">
                </a>
            </div>

            <div id="search">
                <div class="content">
                    <input type="text" placeholder="Bạn muốn tìm?...">
                    
                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                    
                </div>
            </div>
            <div class="navi">
                <ul class="nav">
                    <li class="nav-chind "><a href="/">Trang chủ</a></li>
                    <li class="nav-chind "><a href="/monan">Món ăn</a></li>
                    <li class="nav-chind "> 
                        <span>Khám phá</span> 
                        <i style="margin-left: 5px;" class="fa-solid fa-angle-down"></i>

                        <ul class="navi-2">
                            <li class="nav-chind-2">
                                <a href="">Nhà hàng</a>
                                
                                </li>
                            <li class="nav-chind-2">
                                <a href=""><span>Lẩu</span> <i class="fa-solid fa-angle-right"></i></a>
                                
                                <ul class="navi-3">
                                    <li class="nav-chind-3"><a href="">Lẩu Hàn</a></li>
                                    <li class="nav-chind-3"><a href="">Lẩu Nhật</a></li>
                                    <li class="nav-chind-3"><a href="">Lẩu Thái</a></li>
                                    <li class="nav-chind-3"><a href="">Lẩu Việt</a></li>
                                    <li class="nav-chind-3"><a href="">Lẩu Chay</a></li>
                                </ul>
                                </li>
                            <li class="nav-chind-2">
                                <a href=""><span>Buffet</span> <i class="fa-solid fa-angle-right"></i></a>
                                
                                <ul class="navi-3">
                                    <li class="nav-chind-3"><a href="">Buffet Hàn</a></li>
                                    <li class="nav-chind-3"><a href="">Buffet Nhật</a></li>
                                    <li class="nav-chind-3"><a href="">Buffet Thái</a></li>
                                    <li class="nav-chind-3"><a href="">Buffet Việt</a></li>
                                    <li class="nav-chind-3"><a href="">Buffet Hải Sản</a></li>
                                    <li class="nav-chind-3"><a href="">Buffet Chay</a></li>
                                </ul>

                                </li>
                        </ul>

                        
                    </li>
                    <li class="nav-chind "><a href="/gioithieu">Giới thiệu</a></li>
                    <li class="nav-chind "><a href="/check-table-status">Đặt bàn</a></li>
                </ul>
            </div>
            <div class="socials">
                <div class="social facebook">
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <div class="social instagram">
                    <i class="fa-brands fa-instagram-square"></i>
                </div>
                <div class="social youtube">
                    <i class="fa-brands fa-youtube"></i>
                </div>
            </div>
        </div>
    </div>
</div>