
<div id="addProduct">
    <div class="root">
        <form action="">
            <div class="add-container">
                <div class="title">
                    <span>Thêm Món Ăn</span>
                </div>
                <div class="main-info">
                    <div class="info">
                        <div class="name">
                            <label for="name">Tên Món Ăn</label>
                            <div class="form-input">

                                <input type="text" placeholder="Nhập tên món ăn.." id="name" name="name">
                            </div>
                        </div>

                        <div class="price">
                            <label for="price">Tên Món Ăn</label>
                            <div class="form-input">

                                <input type="text" placeholder="Nhập giá tiền.." id="price" name="price">
                            </div>
                        </div>

                        <div class="promo">
                            <label for="promo">Giảm Giá (%)</label>
                            <div class="form-input">

                                <input type="number" min="0" value="0" placeholder="Phầm trăm giảm giá.." id="promo" name="promo">
                            </div>
                        </div>
                    </div>

                    <div class="upload-img">
                        <div class="img-frame">
                            <div class="icon">
                                <i class="fa-solid fa-cloud-arrow-up"></i>
                            </div>
                            <div class="img">
                                <img src="" alt="">
                            </div>
                        </div>

                        <div class="upload">
                            <span>Chọn Ảnh</span>
                        </div>

                    </div>
                </div>

                <div class="more-info">
                    <div class="ingredients">
                        <span>Nguyên Liệu</span>
                        <ul>
                            <li>
                                <div class="add-ingredient">
                                    <label for="add-ingredient">Nguyên Liệu 1</label>
                                    <div class="form-input">

                                        <input type="text" placeholder="Nguyên liệu 1.." id="add-ingredient" name="ingredient1">
                                    </div>
                                </div>

                            </li>
                            
                        </ul>
                        <div class="add-form-input">
                            <i class="fa-solid fa-plus"></i>
                            <span>Thêm trường nhập</span>
                        </div>
                    </div>

                    <div class="info-chind">
                        <div class="text">
                            <label for="text">Thông tin thêm</label>
                            <div class="form-input">
                                <textarea name="text-info" id="text" cols="30" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="img">
                            <ul>
                                <li>
                                    <div class="add-img-info">
                                        <div class="img-frame">
                                            <div class="icon">
                                                <i class="fa-solid fa-cloud-arrow-up"></i>
                                            </div>
                                            <div class="img-chind">
                                                <img src="" alt="">
                                            </div>
                                        </div>

                                        <div class="upload">
                                            <span>Chọn Ảnh</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="add-form-input">
                            <i class="fa-solid fa-plus"></i>
                            <span>Thêm trường nhập</span>
                        </div>
                    </div>
                </div>

                <div class="submit">
                    <input type="submit" value="Thêm Món Ăn">
                </div>
            </div>


        </form>
    </div>
</div>