

<div id="booked">
    <div class="root">
        <div class="booked-container">
            <div class="my-booked">
                <div class="title">
                    <i class="fa-solid fa-bookmark"></i>
                    <span>Đơn hàng đã đặt</span>
                </div>

                <div class="container orders">
                    <div class="row navi">
                        

                        <div class="name col-2">
                            <span>Tên khách hàng</span>
                        </div>

                        <div class="food-name col-2">
                            <span>Món</span>
                        </div>

                        <div class="count-food col-1">
                            <span>s/l</span>
                        </div>
                        <div class="table-booked col-2">
                            <span>Bàn đặt</span>
                        </div>
                        <div class="time-eat col-2">
                            <span>Thời gian ăn</span>
                        </div>

                        <div class="time-booked col-2">
                            <span>Thời gian đặt</span>
                        </div>

                        <div class="confirm col-1">
                            <span>confirm</span>
                        </div>
                    </div>
                    <div class="row order">
  
                        <div class="name col-2">
                            <span>Ma Seo Tráng</span>
                        </div>

                        <div class="food-name col-2">
                            <span>Lẩu ếch</span><br>
                            <span>Lẩu cá</span>
                        </div>

                        <div class="count-food col-1">
                            <span>1</span><br>
                            <span>2</span>
                        </div>
                        <div class="table-booked col-2">
                            <span>Bàn số 5</span>
                        </div>
                        <div class="time-eat col-2">
                            <span>12h pm 10/12/2021</span>
                        </div>

                        <div class="time-booked col-2">
                            <span>6h pm 8/12/2021</span>
                        </div>

                        <div class="confirm col-1">
                           <a href="" class="my-confirm">
                               <i class="fa-solid fa-check"></i>
                           </a>
                        </div>
                    </div>

                    <div class="row order">
  
                        <div class="name col-2">
                            <span>Ma Seo Tráng</span>
                        </div>

                        <div class="food-name col-2">
                            <span>Lẩu ếch</span><br>
                            <span>Lẩu cá</span>
                        </div>

                        <div class="count-food col-1">
                            <span>1</span><br>
                            <span>2</span>
                        </div>
                        <div class="table-booked col-2">
                            <span>Bàn số 5</span>
                        </div>
                        <div class="time-eat col-2">
                            <span>12h pm 10/12/2021</span>
                        </div>

                        <div class="time-booked col-2">
                            <span>6h pm 8/12/2021</span>
                        </div>

                        <div class="confirm col-1">
                           <a href="" class="my-confirm">
                               <i class="fa-solid fa-check"></i>
                           </a>
                        </div>
                    </div>

                    <div class="row order">
  
                        <div class="name col-2">
                            <span>Ma Seo Tráng</span>
                        </div>

                        <div class="food-name col-2">
                            <span>Lẩu ếch</span>
                        </div>

                        <div class="count-food col-1">
                            <span>1</span>
                        </div>
                        <div class="table-booked col-2">
                            <span>Bàn số 5</span>
                        </div>
                        <div class="time-eat col-2">
                            <span>12h pm 10/12/2021</span>
                        </div>

                        <div class="time-booked col-2">
                            <span>6h pm 8/12/2021</span>
                        </div>

                        <div class="confirm col-1">
                           <a href="" class="my-confirm">
                               <i class="fa-solid fa-check"></i>
                           </a>
                        </div>
                    </div>

                    <div class="row order">
  
                        <div class="name col-2">
                            <span>Ma Seo Tráng</span>
                        </div>

                        <div class="food-name col-2">
                            <span>Lẩu ếch</span><br>
                            <span>Lẩu cá</span>
                        </div>

                        <div class="count-food col-1">
                            <span>1</span><br>
                            <span>2</span>
                        </div>
                        <div class="table-booked col-2">
                            <span>Bàn số 5</span>
                        </div>
                        <div class="time-eat col-2">
                            <span>12h pm 10/12/2021</span>
                        </div>

                        <div class="time-booked col-2">
                            <span>6h pm 8/12/2021</span>
                        </div>

                        <div class="confirm col-1">
                           <a href="" class="my-confirm">
                               <i class="fa-solid fa-check"></i>
                           </a>
                        </div>
                    </div>

                    <div class="row order">
  
                        <div class="name col-2">
                            <span>Ma Seo Tráng</span>
                        </div>

                        <div class="food-name col-2">
                            <span>Lẩu ếch</span>
                        </div>

                        <div class="count-food col-1">
                            <span>1</span>
                        </div>
                        <div class="table-booked col-2">
                            <span>Bàn số 5</span>
                        </div>
                        <div class="time-eat col-2">
                            <span>12h pm 10/12/2021</span>
                        </div>

                        <div class="time-booked col-2">
                            <span>6h pm 8/12/2021</span>
                        </div>

                        <div class="confirm col-1">
                           <a href="" class="my-confirm">
                               <i class="fa-solid fa-check"></i>
                           </a>
                        </div>
                    </div>

                    <div class="row order">
  
                        <div class="name col-2">
                            <span>Ma Seo Tráng</span>
                        </div>

                        <div class="food-name col-2">
                            <span>Lẩu ếch</span>
                        </div>

                        <div class="count-food col-1">
                            <span>1</span>
                        </div>
                        <div class="table-booked col-2">
                            <span>Bàn số 5</span>
                        </div>
                        <div class="time-eat col-2">
                            <span>12h pm 10/12/2021</span>
                        </div>

                        <div class="time-booked col-2">
                            <span>6h pm 8/12/2021</span>
                        </div>

                        <div class="confirm col-1">
                           <a href="" class="my-confirm">
                               <i class="fa-solid fa-check"></i>
                           </a>
                        </div>
                    </div>

                    <div class="row order">
  
                        <div class="name col-2">
                            <span>Ma Seo Tráng</span>
                        </div>

                        <div class="food-name col-2">
                            <span>Lẩu ếch</span>
                        </div>

                        <div class="count-food col-1">
                            <span>1</span>
                        </div>
                        <div class="table-booked col-2">
                            <span>Bàn số 5</span>
                        </div>
                        <div class="time-eat col-2">
                            <span>12h pm 10/12/2021</span>
                        </div>

                        <div class="time-booked col-2">
                            <span>6h pm 8/12/2021</span>
                        </div>

                        <div class="confirm col-1">
                           <a href="" class="my-confirm">
                               <i class="fa-solid fa-check"></i>
                           </a>
                        </div>
                    </div>

                    <div class="row order">
  
                        <div class="name col-2">
                            <span>Ma Seo Tráng</span>
                        </div>

                        <div class="food-name col-2">
                            <span>Lẩu ếch</span>
                        </div>

                        <div class="count-food col-1">
                            <span>1</span>
                        </div>
                        <div class="table-booked col-2">
                            <span>Bàn số 5</span>
                        </div>
                        <div class="time-eat col-2">
                            <span>12h pm 10/12/2021</span>
                        </div>

                        <div class="time-booked col-2">
                            <span>6h pm 8/12/2021</span>
                        </div>

                        <div class="confirm col-1">
                           <a href="" class="my-confirm">
                               <i class="fa-solid fa-check"></i>
                           </a>
                        </div>
                    </div>
                    
                </div>

                <div class="add-new-order">
                    <a href="">Thêm đơn đặt hàng mới</a>
                </div>
            </div>
        </div>
    </div>
</div>