
<div id="view-category">
    <div class="root">
        <div class="container-category">
            <div class="view-category">
                <div class="title">
                    <span>Danh mục</span>
                </div>

                <div class="container category-content">
                    <div class="row navi">
                        <div class="col-4 name">
                            <span>Tên</span>
                        </div>

                        <div class="col-3 time-add">
                            <span>Create at</span>
                        </div>

                        <div class="col-2 edit action">
                            <span>Chỉnh sửa</span>
                        </div>

                        <div class="col-2 delete action">
                            <span>Xóa</span>
                        </div>
                    </div>

                    {{#each category}}
                    <div class="row my-category">
                        <div class="col-4 name">
                            <span>{{this.name}}</span>
                        </div>

                        <div class="col-3 time-add">
                            <span>{{this.time}}</span>
                        </div>

                        <div class="col-2 edit action">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </div>

                        <div class="col-2 delete action">
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </div>
                    
                    {{/each}}
                  
                  




                </div>
            </div>

            <div class="add-new-category">
                <form action="/admin/store-category" method="post">
                    <div class="title">
                        <span>Thêm danh mục</span>
                    </div>
                    <div class="custom">
                        <div class="form-add">
                            <label for="add-category">Nhập tên danh mục</label>
                            <div class="input">
                                <input type="text" id="add-category" name="mycategory" placeholder="Nhập tên danh mục...">
                            </div>
                        </div>

                        <div class="add">
                            <button type="submit" class="add-category">
                                Thêm
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>