

<div id="home-admin">
    
    
    <div class="route" style="margin-bottom: 10px;">
        <i class="fa-solid fa-house-user"></i>
        <span>Trang chủ</span>
    </div>

    <div class="over-view">
        <div class="revenue-home">
            <div class="title">
                <span>Doanh thu</span>
                
            </div>
            <div class="content">
                <ul>
                    <li>
                        
                        <i class="fa-brands fa-bitcoin icon-same"></i>
                        <div class="data">
                            <a href="">Tổng số</a><br>
                            <span>2.000.000.000đ</span>
                        </div>
                        </li>
                    <li>
                        <span class="material-icons icon-same" >
                            history
                            </span>
                        <div class="data">
                            <a href="">1 tháng gần đây</a> <br>
                            <span>50.000.000đ</span>
                        </div>
                    </li>
                    <li>
                        <span class="material-icons icon-same" >
                            history
                            </span>
                        <div class="data">
                            <a href="">2 tháng gần đây</a>
                            <br>
                            <span>100.000.000đ</span>
                        </div>

                    </li>
                    <li> 
                        <span class="material-icons icon-same" >
                            history
                            </span>
                        <div class="data">
                            <a href="">1 năm gần đây</a>
                            <br>
                            <span>600.000.000đ</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="order-home">
            <div class="title">
                <span>Đơn đặt</span>
            </div>
            <div class="content">
                <ul>
                    <li>
                        <i class="fa-solid fa-cart-shopping icon-order"></i>
                        <div class="data">
                            <a href="">Đã đặt</a>
                            <br>
                            <span>6</span>
                        </div>
                        </li>
                    <li>
                        <i class="fa-solid fa-circle-check icon-order" ></i>
                        <div class="data">
                            <a href="">Chờ xác nhận</a>
                            <br>
                            <span>5</span>
                        </div>
                        </li>
                </ul>
            </div>
        </div>

        <div class="producs-home ">
            <div class="title">
                <span>Món ăn</span>
            </div>
            <div class="content">
                <ul>
                    <li>
                        <i class="fa-solid fa-bowl-food icon-same"></i>
                        <div class="data">
                            <a href="">Tổng số</a>
                            <br>
                            <span>120</span>
                        </div>
                        </li>
                    <li>
                        <span class="material-icons icon-same">
                        restaurant_menu
                        </span>
                        <div class="data">
                            <a href="">Món mới</a>
                            <br>
                            <span>5</span>
                        </div>
                        </li>
                    <li>
                        <i class="fa-solid fa-utensils icon-same"></i>
                        <div class="data">
                            <a href="">Nhà hàng</a>
                            <br>
                            <span>6</span>
                        </div>
                        </li>
                    <li>
                        <i class="fa-solid fa-arrow-up-right-dots icon-same"></i>
                        <div class="data">
                            <a href="">Top món</a>
                            <br>
                            <span>10</span>
                        </div>
                        </li>
                </ul>
            </div>
        </div>

        <div class="hotpot-home many-col">
            <div class="title">
                <span>Lẩu</span>
            </div>
            <div class="content">
                <ul>
                    <li>
                        <span class="material-icons icon-same">
                        food_bank
                        </span>
                        <div class="data">
                            <a href="">Tổng số</a>
                            <br>
                            <span>20</span>
                        </div>
                        </li>
                    <li>
                        <i class="fa-solid fa-flag icon-same"></i>
                        <div class="data">
                            <a href="">Lẩu Hàn</a>
                            <br>
                            <span>5</span>
                        </div>
                        </li>
                    <li>
                        <i class="fa-solid fa-flag icon-same"></i>
                        <div class="data">
                            <a href="">Lẩu Nhật</a>
                            <br>
                            <span>5</span>
                        </div>
                        </li>
                    <li>
                        <i class="fa-solid fa-flag icon-same"></i>
                        <div class="data">
                            <a href="">Lẩu Thái</a>
                            <br>
                            <span>5</span>
                        </div>
                        </li>

                    <li>
                        <i class="fa-solid fa-flag icon-same"></i>
                        <div class="data">
                            <a href="">Lẩu Việt</a>
                            <br>
                            <span>5</span>
                        </div>
                        </li>
                    
                    <li>
                        <i class="fa-solid fa-seedling icon-same"></i>
                        <div class="data">
                            <a href="">Lẩu chay</a>
                            <br>
                            <span>5</span>
                        </div>
                        </li>
                    <li>
                        <i class="fa-solid fa-fish-fins icon-same"></i>
                        <div class="data">
                            <a href="">Lẩu hải sản</a>
                            <br>
                            <span>9</span>
                        </div>
                        </li>
                </ul>
            </div>
        </div>

        <div class="buffet-home many-col">
            <div class="title">
                <span>Buffet</span>
            </div>
            <div class="content">
                <ul>
                    <li>
                        <span class="material-icons icon-same">
                        food_bank
                        </span>
                        <div class="data">
                            <a href="">Tổng số</a>
                            <br>
                            <span>20</span>
                        </div>
                        </li>
                    <li>
                        <i class="fa-solid fa-flag icon-same"></i>
                        <div class="data">
                            <a href="">Buffet Hàn</a>
                            <br>
                            <span>5</span>
                        </div>
                        </li>
                    <li>
                        <i class="fa-solid fa-flag icon-same"></i>
                        <div class="data">
                            <a href="">Buffet Nhật</a>
                            <br>
                            <span>5</span>
                        </div>
                        </li>
                    <li>
                        <i class="fa-solid fa-flag icon-same"></i>
                        <div class="data">
                            <a href="">Buffet Thái</a>
                            <br>
                            <span>5</span>
                        </div>
                        </li>

                    <li>
                        <i class="fa-solid fa-flag icon-same"></i>
                        <div class="data">
                            <a href="">Buffet Việt</a>
                            <br>
                            <span>5</span>
                        </div>
                        </li>
                    
                    <li>
                        <i class="fa-solid fa-seedling icon-same"></i>
                        <div class="data">
                            <a href="">Buffet chay</a>
                            <br>
                            <span>5</span>
                        </div>
                        </li>
                    <li>
                        <i class="fa-solid fa-fish-fins icon-same"></i>
                        <div class="data">
                            <a href="">Buffet hải sản</a>
                            <br>
                            <span>9</span>
                        </div>
                        </li>
                </ul>
            </div>
        </div>


        <div class="table-home many-col">
            <div class="title">
                <span>Bàn</span>
            </div>
            <div class="content">
                <ul>
                    <li>
                        <i class="fa-solid fa-table-columns icon-same"></i>
                        <div class="data">
                            <a href="">Tổng số</a>
                            <br>
                            <span>20</span>
                        </div>
                        </li>
                    <li>
                        <i class="fa-solid fa-cart-flatbed icon-same"></i>
                        <div class="data">
                            <a href="">Đã đặt</a>
                            <br>
                            <span>10</span>
                        </div>
                        </li>
                    <li>
                        <span class="material-icons icon-same">
                        check_box_outline_blank
                        </span>
                        <div class="data">
                            <a href="">Còn trống</a>
                            <br>
                            <span>10</span>
                        </div>
                        </li>
                   
                </ul>
            </div>
        </div>

    </div>


</div>
