
<div id="order-wait-confirm">
    <div class="root">
        <div class="wait-confirm">
            <div class="title">
                <span>Đơn hàng đang chờ xác nhận!</span>
            </div>

            <div class="container order-wait-confirm">
                <div class="row navi">

                    <div class="col-2 name-customer">
                        <span>Khách hàng</span>
                    </div>

                    <div class="col-2 name-food">
                        <span>Món ăn</span>
                    </div>
                    <div class="col-1 count-food">
                        <span>S/L</span>
                    </div>

                    <div class="col-1 table-booked">
                        <span>Bàn ăn</span>
                    </div>

                    <div class="col-2 time-booked">
                        <span>Giờ đặt</span>
                    </div>

                    <div class="col-2 time-eat">
                        <span>Giờ ăn</span>
                    </div>

                    <div class="col-1 confirm">
                        <span>confirm</span>
                    </div>

                    <div class="col-1 delete">
                        <span>Delete</span>
                    </div>
                </div>

                <div class="row my-order-wait-confirm">

                    <div class="col-2 name-customer">
                        <span>Ma seo tráng</span>
                    </div>

                    <div class="col-2 name-food">
                        <span>Lẩu ếch</span> 
                    </div>
                    <div class="col-1 count-food">
                        <span>2</span> 
                    </div>

                    <div class="col-1 table-booked">
                        <span>Bàn 5</span>
                    </div>

                    <div class="col-2 time-booked">
                        <span>10h AM 9/4/2022</span>
                    </div>

                     <div class="col-2 time-eat">
                        <span>12h AM 10/4/2022</span>
                    </div>

                    <div class="col-1 confirm action-box">
                       
                            <a href="" class="action-confirm my-action">
                                <i class="fa-solid fa-check"></i>
                            </a>
                      
                    </div>

                    <div class="col-1 delete action-box">
                       
                        <a href="" class="action-delete my-action">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                       
                    </div>
                </div>

                {{!-- <div class="row my-order-wait-confirm">

                    <div class="col-2 name-customer">
                        <span>Ma seo tráng</span>
                    </div>

                    <div class="col-3 name-food">
                        <span>Lẩu ếch</span> <br>
                        <span>Lẩu cá</span>
                    </div>

                    <div class="col-1 table-booked">
                        <span>Bàn 6</span>
                    </div>

                    <div class="col-2 time-booked">
                        <span>10h AM 9/4/2022</span>
                    </div>

                     <div class="col-2 time-eat">
                        <span>12h AM 10/4/2022</span>
                    </div>

                    <div class="col-1 confirm action-box">
                       
                            <a href="" class="action-confirm my-action">
                                <i class="fa-solid fa-check"></i>
                            </a>
                      
                    </div>

                    <div class="col-1 delete action-box">
                       
                        <a href="" class="action-delete my-action">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                       
                    </div>
                </div>

                <div class="row my-order-wait-confirm">

                    <div class="col-2 name-customer">
                        <span>Ma seo tráng</span>
                    </div>

                    <div class="col-3 name-food">
                        <span>Lẩu ếch</span> 
                    </div>

                    <div class="col-1 table-booked">
                        <span>Bàn 7</span><br>
                        <span>Bàn 8</span><br>
                    </div>

                    <div class="col-2 time-booked">
                        <span>10h AM 9/4/2022</span>
                    </div>

                     <div class="col-2 time-eat">
                        <span>12h AM 10/4/2022</span>
                    </div>

                    <div class="col-1 confirm action-box">
                       
                            <a href="" class="action-confirm my-action">
                                <i class="fa-solid fa-check"></i>
                            </a>
                      
                    </div>

                    <div class="col-1 delete action-box">
                       
                        <a href="" class="action-delete my-action">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                       
                    </div>
                </div> --}}
            </div>

            
        </div>
    </div>
</div>