*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.app{
    width: 1520px;
    min-height: 500px;

}

#sidebar{

    position: fixed;
    z-index: 999;
    float: left;
    width: 18%;
    background-color: #343a40;
    color:  #c2c7d0;
    height: 714px;
    overflow-y: scroll;

}


#sidebar .my-shop{
    padding-top: 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

#sidebar .my-shop .img{
    padding-left: 8px;
    padding-right: 15px;
}

#sidebar .my-shop img{
    width: 40px;
}

#sidebar .my-info{
    padding-top: 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 16px;

}

#sidebar .my-info .img{
    padding-left: 8px;
    padding-right: 15px;
}

#sidebar .my-info .img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    

}

#sidebar .sidebar-chind{
    min-height: 30px;
    padding: 8px 16px 0px 8px;
    cursor: pointer;

}



#sidebar li{
    list-style: none;
    padding: 8px 16px 0px 15px;
    line-height: 30px;
}

#sidebar a{
    text-decoration: none;
    color: #c2c7d0;
}
#sidebar i{
    color: #c2c7d0;
    padding-right: 10px;
}

#sidebar .icon-down{
    display: block;
    margin-left: 15px;
}

#sidebar .icon-up{
    margin-left: 15px;
    display: inline-block;
    display: none;
   
}

#sidebar .sidebar-chind2{
    display: none;
}

#sidebar .nav{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#sidebar .sidebar-chind:hover{
    background-color: #494e53;
}

#sidebar li:hover{
    background-color: #494e53;
}

#sidebar .revenue{
    margin-bottom: 20px;
}


/* home page admin ---------------------------------------------------------*/

.body{
    width: 1520px;
}
#home-admin{
    width: 100%;
    background-color: #7d8e9d4d;
    padding-left: 19%;
    padding-top: 20px;
}

#home-admin .over-view li{
    list-style: none;
    cursor: pointer;
}

#home-admin .over-view a{
    text-decoration: none;
}

#home-admin .content ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

#home-admin .title span{
    font-size: 23px;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(19, 18, 16);
}

#home-admin .content ul li{
    width: 280px ;
    height: 100px;
    padding: 8px;
    /* background-color: #17a2b8; */
    border-radius: 5px;
    
}



#home-admin .content a{
    color: white;
   
}

#home-admin .icon-same{
    color: white;
    font-size: 50px;
    line-height: 100px;
    
}

#home-admin .content ul li{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

#home-admin .data{
    margin-left: 15px;
}

#home-admin .data span{
    font-weight: 700;
    font-size: 17px;
    color: black;
}

#home-admin .order-home .content ul{
    display: flex;
    justify-content: start;
}

#home-admin .order-home .content ul li{
    width: 280px ;
    height: 100px;
    padding: 8px;
    margin-right: 30px;
    /* background-color: #17a2b8; */
    border-radius: 5px;
    
}

#home-admin .order-home .icon-order{
    font-size: 50px;
    color: white;
}

#home-admin .many-col ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

#home-admin .many-col ul li{
    margin-right: 18px;
    margin-top: 25px;
}

/* addproduct---------------------------------------------------------------------- */
#addProduct{
    width: 100%;
    background-color: #4e657abb;

}

.root{
    margin-left: 18%;
  
}

#addProduct input::placeholder{
    color: #f4f6f9bf;
}
#addProduct input{
    color: white;
}
#addProduct input{
    background-color: #435c70;
    border-radius: 5px;
    padding: 10px;
    
}

#addProduct .add-container{
    width: 60%;
    margin: 0px auto;
    background-color: #4e657a;
    color: white;
    padding: 10px 20px;
    box-shadow: 0px 0px 15px salmon;
    /* border:  1px solid salmon; */
}

#addProduct .add-container .title span{
    font-size: 25px;
    color: orange;
    font-weight: 600;
}

#addProduct .add-container .title{
    border-bottom: 1px solid orange;
}

#addProduct .add-container .main-info{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#addProduct .add-container .main-info label{
    
}

#addProduct .add-container .main-info input{
    width: 300px;
    margin-top: 10px;
    margin-bottom: 15px;
}

#addProduct .img-frame{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 240px;
    background-color: #aaa;
    border-radius: 5px;
}

#addProduct .img-frame .icon{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid orange;
    box-shadow: 2px 3px 5px #ccc;
    cursor: pointer;

}

#addProduct  .img-frame i{
    font-size: 50px;
    color: green;
}

#addProduct  .upload{
    background-color: #435c70;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    box-shadow: 2px 2px 5px #ffc107;
}

#addProduct  .upload:hover{
    background-color: #f4f6f9;
    color: #000;
    transition: 0.5s;
}

#addProduct  .upload span{
    width: 100%;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #addProduct  .upload span label{
    width: 100%;
    text-align: center;

} */


#addProduct .more-info .ingredients span{

}

#addProduct .more-info .ingredients ul{
    margin:0;
    padding: 0;
}
#addProduct .more-info .ingredients li{
    margin-top: 15px;
    margin-bottom: 15px;
    list-style: none;
    margin-left: 5px;

}

#addProduct .more-info .ingredients label{
    color: #ffc107;
}
#addProduct .more-info .ingredients input{
    width: 100%;
    margin-top: 5px;

}

#addProduct .add-form-input{
    background-color: #435c70;
    display: inline-block;
    padding: 10px;
    box-shadow: 2px 2px 5px #ffc107;
    cursor: pointer;
}

#addProduct .add-form-input:hover{
    background-color: green;
    transition: 0.5s;
}

#addProduct .info-chind{
    margin-top: 25px;
}

#addProduct .info-chind textarea{
    width: 100%;
    border-radius: 5px;
    background-color: #435c70;
    color: white;
    padding: 10px;
}

#addProduct .info-chind .img{
    
    margin: 25px auto;
    width: 60%;
 
}

#addProduct .info-chind .img ul{
    text-align: center;
    margin: 0;
    padding: 0;
}

#addProduct .info-chind .img li{
    list-style: none;
}

#addProduct .info-chind  .img-frame{
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

#addProduct .info-chind  .img-frame .img-chind{
    display: none;
}

#addProduct .category{
    margin-top: 20px;

}

#addProduct .category select{
    padding: 5px;
    width: 50%;
    margin-left: 5%;
    border-radius: 5px;
    background-color: #394f62;
    color: #fff;
}

#addProduct .category select:hover{
    transition: 0.5s;
    background-color: #ffc10770;
    color: #000;
}

#addProduct .submit{
    display: flex;
    justify-content: center;
}

#addProduct .submit input{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 2px 2px 5px #ffc107;
}

#addProduct .submit input:hover{
    background-color: #ffc107;
    box-shadow: 2px 2px 5px #fff;
    transition: 0.5s;
}

/* view product------------------------------------------------------------------------- */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    
    background: #394f62;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6d8da6; 
}


  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }  

#viewProduct{
    min-height: 700px;
    width: 100%;
    background-color: #4e657a;
    color: white;
}

#viewProduct .viewProduct-container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}


#viewProduct .category{
   margin-top: 30px;
    background-color: #3b5064;
    min-height: 300px;
    padding: 20px;
    min-width: 25%;
    border-radius: 5px;
}



#viewProduct .title span{
    font-weight: 600;
    margin-left: 10px;

}


#viewProduct .my-category{
    margin-top: 20px;
    max-height: 500px;
    overflow-y: scroll;
}

#viewProduct .my-category ul{
    margin: 0;
    padding: 0;
}

#viewProduct .my-category li{
    width: 100%;
    list-style: none;
    line-height: 2.5;
    background-color: #4e657a;
    margin-top: 1px;
    padding: 5px;

}
#viewProduct .my-category a{
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 0 10px;
}

#viewProduct .my-category a:hover{
    background-color: #017aec;
}
/* 4e657a */

#viewProduct .products{
    min-width: 70%;
    background-color:#3b5064 ;
    margin-top: 30px;
    padding: 20px;
    border-radius: 5px;
}

#viewProduct .my-products{
    margin-top: 15px;
    overflow-y: scroll;
    max-height: 500px;
}

#viewProduct .my-products .navi{
    line-height: 2.5;
    padding: 5px;
    background-color: #3d6383;
    color: #eced00;
}

#viewProduct .my-products .product{
    line-height: 2.5;
    background-color: #4e657a;
    margin-top: 1px;
    padding: 5px;
}

#viewProduct .my-products .product i{
    cursor: pointer;
}

#viewProduct .my-products .product .edit:hover{
    color: #ecd401;
    transition: 0.5s;
}

#viewProduct .my-products .product .delete:hover{
    color: red;
    transition: 0.5s;
}

#viewProduct .my-products .checkbox input{
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

#viewProduct .my-products .checkbox input:hover{
    background-color: #3b5064;
}

#viewProduct .my-products .time-add span{
    font-size: 16px;
}

#viewProduct .products .add-new-product{
    margin-top: 15px;
    width: 100%;
}

#viewProduct .products .add-new-product a{
    text-decoration: none;
    color: white;
    background-color: #ffc107;
    text-align: center;
    font-weight: 600;
    padding: 10px;
    display: block;
    border-radius: 5px;
    
}

#viewProduct .products .add-new-product a:hover{
    transition: 0.5s;
    background-color: #017aec;
}

#viewProduct .products .delete-selected-product{
    margin-top: 15px;
}

#viewProduct .products .delete-selected-product a{
    text-decoration: none;
    color: white;
    background-color: #ffc107;
    text-align: center;
    font-weight: 600;
    padding: 10px;
    display: block;
    border-radius: 5px;
    
}

#viewProduct .products .delete-selected-product a:hover{
    transition: 0.5s;
    background-color: rgba(255, 0, 0, 0.786);
}


/* booke--------------------------------------- */
#booked{
    width: 100%;
    background-color: #4e657a;
    color: white;
    min-height: 700px;
}

#booked .booked-container{
    width: 100%;
    
}

#booked .my-booked{
    font-weight: 600;
    min-height: 700px;
    width: 90%;
    margin: 0 auto;
    background-color: #3b5064;
    padding: 20px;
}

#booked .title span{
   
    margin-left: 15px;

}
#booked .title{
    margin-bottom: 20px;
   
}

#booked .my-booked .orders .navi{
    line-height: 2.5;
    padding: 5px;
    background-color: #3d6383;
    color: #eced00;
}

#booked .my-booked .orders{
    overflow-y: scroll;
    max-height: 550px;
}
#booked .my-booked .order{
    
    
    line-height: 2.5;
    background-color: #4e657a;
    margin-top: 1px;
    padding: 5px;
}

#booked .my-booked .confirm{
    display: flex;
    align-items: center;
    justify-content: center;
}

#booked .my-booked a{
    text-decoration: none;
    color: white;
}

#booked .my-booked .my-confirm{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    min-width: 30px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #017aec;
}

#booked .my-booked .add-new-order{
    margin-top: 40px;
}

#booked .my-booked .add-new-order a{
    background-color: #ffc107;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
}

#booked .my-booked .add-new-order a:hover{
    transition: 0.5s;
    background-color: #017aec;
}

/* add-new-order ------------------------------------------------------------- */

#add-new-order .add-new-order-container .title{
    font-size: 25px;
    font-weight: 600;
    color: white;
    line-height: 2.5;
    border-bottom: 1px solid #dbec01;
    margin-bottom: 5px;
}

#add-new-order{
    background-color: #6d8da6;
}

#add-new-order .add-new-order-container{
    width: 80%;
    margin: 0 auto;
}

#add-new-order .form-user-info{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  
  }

  #add-new-order .user-info{
      /* width: 100%; */
  }

  #add-new-order .form-user-info img{
    width: 100%;
    /* height: 480px; */
    border-radius: 5px;
    
  }
  #add-new-order .form-user-info .img{
    padding: 10px;
  }
  
  #add-new-order .form-user-info .user-info{
    padding: 10px;
    border: 1px solid orange;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #87a2b6;
  }
  
  #add-new-order .form-user-info .user-info input,textarea{
    height: 40px;
    font-size: 14px;
    width: 300px;
    border: none;
    border-bottom: 1px solid orange;
    padding: 10px 5px;
    
  
  }
  
  /* #add-new-order .form-user-info .user-info textarea{
    height: 40px;
    font-size: 14px;
    width: 300px;
  } */
  
  #add-new-order .form-user-info .user-info i{
    font-size: 25px;
    color: orange;
    line-height: 40px;
  }
  
  #add-new-order .user-info .form-input{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
  
  }
  
  #add-new-order .form-user-info .form-info{
    margin-top: 25px;
  }
  
  #add-new-order .container .submit{
    display: flex;
    justify-content: center;
    cursor: pointer;
    
  }

#add-new-order .order-food-info{

}

#add-new-order .order-food-info .table-order{
    margin-top: 25px;
    font-weight: 600;
    color: white;
    background-color: #3b5064;
    line-height: 2.5;
    border-radius: 5px;
    padding: 25px;
    
}

#add-new-order .order-food-info .table-content{
    max-height: 500px;
    overflow-y: scroll;
}

#add-new-order .table-order .my-table{
    
    padding: 15px;
    margin-top: 1px;
    background-color: #6d8da6;
}

#add-new-order .table-order .title-box{
    /* margin-top: 25px; */
}

#add-new-order .table-order .navi{
    background-color: #3d6383;
    color: #eced00;
}

#add-new-order .my-check input{
    
    width: 20px;
    height: 20px;
}


#add-new-order .food-order{
    color: white;
    margin-top: 25px;
    background-color: #394f62;
    line-height: 2.5;
    font-weight: 600;
    padding: 20px;
}

#add-new-order .food-order .search{
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

#add-new-order .food-order .search input{
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    position: relative;
    color: #000;
    padding-right: 70px;
}

#add-new-order .food-order .search i{
    position: absolute;
    color: #000;
    font-size: 30px;
    margin-right: 25px;
    cursor: pointer;
}

#add-new-order .food-order .food-content{
    margin-top: 5px;
    max-height: 500px;
    overflow-y: scroll;
}

#add-new-order .food-order .navi{
    margin-top: 20px;
    background-color: #3d6383;
    color: #eced00;
}

#add-new-order .food-order .my-food{
    padding: 15px;
    margin-top: 1px;
    background-color: #6d8da6;
}

#add-new-order .submit{
    display: flex;
    justify-content: center;
}

#add-new-order .submit label{
    /* display: none; */
    cursor: pointer;
    font-size: 20px;
    background-color: #ffc107;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    /* box-shadow: 2px 2px 5px #ffc107; */
    padding: 5px;
    line-height: 2.5;
    text-align: center;
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    
}

#add-new-order .submit input{
    display: none;
}

#add-new-order .submit label:hover{
    background-color: #017aec;
    transition: 0.5s;
    color: white;
}


/* order-wait-confirm */

#order-wait-confirm{
    background-color: #6d8da6;
    min-height: 700px;
    color: white;
    font-weight: 600;
}

#order-wait-confirm .wait-confirm{
    background-color: #3b5064;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    line-height: 2.5;
}

#order-wait-confirm .wait-confirm .navi{
    background-color: #3d6383;
    color: #dbec01;
}

#order-wait-confirm .wait-confirm .my-order-wait-confirm{
    background-color: #6d8da6;
    margin-top: 1px;
}




#order-wait-confirm .my-order-wait-confirm .action-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

#order-wait-confirm .wait-confirm .my-order-wait-confirm .my-action{
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

#order-wait-confirm .my-order-wait-confirm .action-confirm{
    background-color: #017aec;
}

#order-wait-confirm .my-order-wait-confirm .action-delete:hover{
    color: rgba(255, 0, 0, 0.829);
    transition: 0.5s;
}

#view-category{
    background-color: #6d8da6;
    color: white;
    font-weight: 600;
    min-height: 700px;
}

#view-category .container-category .view-category{
    width: 80%;
    margin: 0 auto;
    background-color: #394f62;
    padding: 20px;
    line-height: 2.5;
}

#view-category .view-category .category-content{
    max-height: 450px;
    overflow-y: scroll;
}

#view-category .view-category .navi{
    margin-top: 20px;
    background-color: #3d6383;
    color: #eced00;
}

#view-category .view-category .my-category{
    background-color: #6d8da6;
    margin-top: 1px;
}

#view-category .view-category .action{
    display: flex;
    justify-content: center;
    align-items: center;
}

#view-category .view-category .my-category .edit:hover{
    cursor: pointer;
    color: #ecd401;
    transition: 0.5s;
}

#view-category .view-category .my-category .delete:hover{
    cursor: pointer;
    color: red;
    transition: 0.5s;
}

/* #view-category .view-category .my-category .action:hover{
    color: rgb(154, 52, 52);
} */




#view-category .container-category .add-new-category{
   

    width: 80%;
    margin: 20px auto;
    background-color: #394f62;
    padding: 20px;
    line-height: 2.5;
    
}

#view-category .add-new-category .form-add{
    /* padding: 0 20%; */
}

#view-category .add-new-category .custom{
    /* display: flex; */
    /* justify-content: space-between; */
}

#view-category .add-new-category input{
    padding: 5px;
    width: 100%;
    
}

#view-category .add-new-category button{
    display: block;
    width: 100%;
    text-decoration: none;
    color: white;
    background-color: #ffc107;
    /* padding: 5px; */
    text-align: center;
    margin-top: 15px;
    line-height: 2.6;
    margin-bottom: 70px;
}

#view-category .add-new-category button:hover{
    background-color: #017aec;
    transition: 0.5s;
}



/* check table status */
.check-table-status{
    width: 100%;
    min-height: 400px;
  }
  
  .check-table-status .container{
  
    width: 80%;
    margin: 0 auto;
  }
  
  .check-table-status .title{
    text-align: center;
    color: red;
  }
  
  .check-table-status .title1{
    font-size: 25px;
    padding-top: 25px;
  }
 
  
  .check-table-status .reminder{
    width: 500px;
    margin:50px auto;
    font-size: 17px;
    color: red;
    line-height: 30px;
    font-weight: 600;
  }
  
  .check-table-status .form-check{
    margin:50px auto;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #ccc;
    border: 1px solid orange;
    font-size: 17px;
    width: 500px;
    border-radius: 5px;
  }
  
  .check-table-status .form-check .form-input{
    display: flex;
    justify-content: space-between;
  }
  
  .check-table-status .form-check input{
    height: 40px;
    font-size: 14px;
    width: 300px;
    border: none;
    border-bottom: 1px solid orange;
    padding: 10px 5px;
  }
  
  .check-table-status .form-check label{
    line-height: 40px;
  }
  
  
  .check-table-status .container .submit{
    display: flex;
    justify-content: center;
    cursor: pointer;
    
  }
  
  .check-table-status .container .check-table-status-now{
    display: flex;
    align-items: center;
    color: #ffffff;
    margin-top: 50px;
    width: 150px;
    line-height: 30px;
    padding: 10px 25px;
    border: 1px solid orange;
    border-radius: 5px;
    background-color: orange;
  }
  
  .check-table-status .container .check-table-status-now:hover{
    background-color: rgb(35, 73, 197);
    transition: 0.5s;
  }
  
  .check-table-status .container .submit i{
    line-height: 30px;
  }
  
  .check-table-status .container .submit span{
   
    margin-left: 10px;
    font-size: 17px;
  
  
  }