<div class="check-table-status">
    <div class="space">

    </div>

    <div class="container">

        
        <div class="title">
                <div class="title1">
                    <b>KIỂM TRA BÀN TRỐNG</b>
                </div>
                <div class="hotline">
                    <b>— Hotline 0386 640 397 —</b>
                </div>
        </div>
        
        
        <div class="reminder">
            <span>Vui Lòng Nhập Thời Gian Bạn Muốn Đặt Để Hệ Thống Kiểm Tra Số Bàn Trống !!</span>
        </div>
        <div class="form-check">
            
            <div class="form-input date">
                <label for="user-date">Chọn Ngày :</label>
                <input type="date" placeholder="Chọn Ngày" id="date" name="userDate">
            
            </div>

            <div class="form-input time">
                <label for="time">Chọn Giờ      :</label>
                <input type="time" placeholder="Chọn Giờ" id="date" name="userTime">
            
            </div>
        </div>

        <a href="/book">
            <div class="submit">
                    <div class="check-table-status-now">
                        <i class="fa-solid fa-money-check-dollar"></i>
                         <span>Kiểm tra</span>
                    </div>
        </div>
        
        </a>
    </div>
</div>

<script>
    var header = document.getElementsByTagName('header')[0];
    var search = document.getElementById("search");
    var inputSearch = search.getElementsByTagName("input")[0];

    inputSearch.style.backgroundColor = "#fff"
    header.style.backgroundImage = "url('../images/banner/Untitled-2.jpg')";
    header.style.backgroundRepeat = "no-repeat";
    header.style.backgroundSize = "100%";
    header.style.margin ="0";
</script>