<div class="detail">
    <div class="space">

    </div>

    

    <div class="container">
        <div class="route">
            <i class="fa-solid fa-house"></i>
            <span> > Lẩu ếch</span>
            
        </div>
         

        <div class="product-detail">

            <div class="name-product">
                    <span>Lẩu ếch</span>
                </div>

            <div class="img">
                <img src="./images/hotpot/lau-ech-sa-te.jpg" alt="">
            </div>

            <div class="product-dt">

                

                <div class="promotion">
                    <div class="block">
                        <span>Giảm giá : </span>
                        <i class="fa-solid fa-arrow-trend-down" style="color: red;"></i>
                        <span class="value">10%</span>
                    </div>
                </div>

                <div class="price">
                    <span>299.000đ</span>

                </div>

                

                <div class="book-now-detail">
                    <a href="">
                        Đặt chỗ ngay
                    </a>
                </div>

            </div>
        </div>

        <div class="product-info">

            {{!-- nguyên liệu nấu --}}
            <div class="ingredients">
                <div class="title">
                    <div class="icon">
                    <img src="./images/icon/icon-nguyen-lieu.png" alt="">
                    </div>
                    <div class="title-1">
                        <b>NGUYÊN LIỆU</b>
                    </div>
                </div>
                <div class="content-ingre">
                    <ul>
                        <li>
                            <span>Xương heo (xương cố hoặc xương ống) 400g</span>
                        </li>
                        <li>
                            <span>Đậu hũ chiên 1 miếng</span>
                        </li>
                        <li>
                            <span>Nấm rơm cắt chữ thập trên đầu 100g</span>
                        </li>
                        <li>
                            <span>Hành tím 10 củ</span>
                        </li>
                        <li>
                            <span>Ớt hiểm 2 trái</span>
                        </li>
                        <li>
                            <span>Sữa tươi không đường 1 chén</span>
                        </li>
                        <li>
                            <span>Lá quế 3 nhánh</span>
                        </li>
                        <li>
                            <span>RAU NÊM: Cải hảo, tần ô, nấm linh chi, nấm kim châm, kim chi</span>
                        </li>
                        <li>
                            <span>ĂN KÈM: Bún tươi</span>
                        </li>
                        <li>
                            <span>Gia vị: Dầu ăn, nước mắm</span>
                        </li>
                        <li>
                            <span>Gia vị nêm sẵn Gia vị nêm sẵn Aji-Quick® Lẩu Kim chi Lẩu Kim chi</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="more-info">
                <div class="title">
                    <div class="icon">
                        <i class="fa-solid fa-circle-info" ></i>
                    </div>

                    <div class="title-1">
                        <b>THÔNG TIN THÊM</b>
                    </div>
                </div>
                <div class="content-more-info">
                    <div class="text">
                        <span>Buffet lẩu nhúng theo phong cách Nhật – Hàn – Trung là một hình thức ẩm thực rất được giới trẻ ngày nay ưa chuộng. Nếu bạn cũng là “tín đồ” của thể loại này thì đừng bỏ qua deal lần này để cùng Hotdeal khám phá và thưởng thức các thực đơn buffet lẩu đặc sắc tại Rakuen Hotpot, với giá chỉ từ 186.000 đồng!</span>
                    </div>
                    <div class="img">
                        <ul>
                            <li><img src="./images/hotpot/lau-ech-sa-te-4.jpg" alt=""></li>
                            <li><img src="./images/hotpot/lau-ech-sa-te-2.jpg" alt=""></li>
                            <li><img src="./images/hotpot/lau-ech-sa-te-1.jpg" alt=""></li>
                            <li><img src="./images/hotpot/lau-ech-sa-te-3.jpg" alt=""></li>
                            <li><img src="./images/hotpot/lau-ech-sa-te-5.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var header = document.getElementsByTagName('header')[0];
    var search = document.getElementById("search");
    var inputSearch = search.getElementsByTagName("input")[0];

    inputSearch.style.backgroundColor = "#fff"
    header.style.backgroundImage = "url('../images/banner/Untitled-2.jpg')";
    header.style.backgroundRepeat = "no-repeat";
    header.style.backgroundSize = "100%";
    header.style.margin ="0";
</script>