<div class="introduction">
    <div class="space">

    </div>
    <div class="container">
        <div class="route">
            <i class="fa-solid fa-house"></i>
            <span> > Giới Thiệu</span>
            
        </div>

        <div class="content">
            <div class="into-content">
                <div class="title wow animate__animated animate__zoomInLeft">
                    <h1>Giới thiệu</h1>
                </div>
                <div class="main-content wow animate__animated animate__fadeInTopLeft">
                    <span>Lẩu Wang là hệ thống chuỗi nhà hàng buffet lẩu tại Hà Nội được tin tưởng và đánh giá cao về chất lượng và giá cả. Với 3 set buffet 129K – 169K – 199K, khách hàng sẽ được thưởng thức tới gần 50 món ăn từ bò Mỹ, hải sản tổng hợp, khai vị hấp dẫn với cá chiên hoàng bào, ghẹ sữa rang muối, ngao xào cùng vô vàn những món ăn, thức uống hấp dẫn khác…</span>
                </div>
            </div>
            <div class="img wow animate__animated animate__fadeInTopRight">
                <img src="./images/cau-truyen-thuong-hieu.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<script>
    var header = document.getElementsByTagName('header')[0];
    var search = document.getElementById("search");
    var inputSearch = search.getElementsByTagName("input")[0];

    inputSearch.style.backgroundColor = "#fff"
    header.style.backgroundImage = "url('../images/banner/Untitled-2.jpg')";
    header.style.backgroundRepeat = "no-repeat";
    header.style.backgroundSize = "100%";
    header.style.margin ="0";
</script>