
<div class="mon-an">
    <div class="space">

    </div>
    <div class="container">
        <div class="route">
            <i class="fa-solid fa-house"></i>
            <span> > Món Ăn</span>
            
        </div>

        <div class="products wow animate__animated animate__zoomInUp">
                    <div class="product">
                        <a href="">
                            <div class="img">
                                <img src="./images/hotpot/lau-ech-sa-te.jpg" alt="">
                            </div>

                            <div class="promotion">
                                <span>-10%</span>
                            </div>

                           
                            <div class="name-product">
                                <span>Lẩu ếch</span>
                            </div>
                            <div class="price">
                                <span>399.000đ</span>
                            </div>
                            

                        </a>
                        <div class="book-now">
                            <a href="">
                                Đặt chỗ ngay
                            </a>
                        </div>
                    </div>

                    <div class="product">
                        <a href="">
                            <div class="img">
                                <img src="./images/hotpot/lau-ech-sa-te.jpg" alt="">
                            </div>

                            <div class="promotion">
                                <span>-10%</span>
                            </div>

                           
                            <div class="name-product">
                                <span>Lẩu ếch</span>
                            </div>
                            <div class="price">
                                <span>399.000đ</span>
                            </div>

                        </a>
                        <div class="book-now">
                            <a href="">
                                Đặt chỗ ngay
                            </a>
                        </div>
                    </div>

                    <div class="product">
                        <a href="">
                            <div class="img">
                                <img src="./images/hotpot/lau-ech-sa-te.jpg" alt="">
                            </div>

                            <div class="promotion">
                                <span>-10%</span>
                            </div>

                           
                            <div class="name-product">
                                <span>Lẩu ếch</span>
                            </div>
                            <div class="price">
                                <span>399.000đ</span>
                            </div>

                        </a>
                        <div class="book-now">
                            <a href="">
                                Đặt chỗ ngay
                            </a>
                        </div>
                    </div>

                    <div class="product">
                        <a href="">
                            <div class="img">
                                <img src="./images/hotpot/lau-ech-sa-te.jpg" alt="">
                            </div>

                            <div class="promotion">
                                <span>-10%</span>
                            </div>

                           
                            <div class="name-product">
                                <span>Lẩu ếch</span>
                            </div>
                            <div class="price">
                                <span>399.000đ</span>
                            </div>

                        </a>
                        <div class="book-now">
                            <a href="">
                                Đặt chỗ ngay
                            </a>
                        </div>
                    </div>

                    <div class="product">
                        <a href="">
                            <div class="img">
                                <img src="./images/hotpot/lau-ech-sa-te.jpg" alt="">
                            </div>

                            <div class="promotion">
                                <span>-10%</span>
                            </div>

                           
                            <div class="name-product">
                                <span>Lẩu ếch</span>
                            </div>
                            <div class="price">
                                <span>399.000đ</span>
                            </div>

                        </a>
                        <div class="book-now">
                            <a href="">
                                Đặt chỗ ngay
                            </a>
                        </div>
                    </div>

                    <div class="product">
                        <a href="">
                            <div class="img">
                                <img src="./images/hotpot/lau-ech-sa-te.jpg" alt="">
                            </div>

                            <div class="promotion">
                                <span>-10%</span>
                            </div>

                           
                            <div class="name-product">
                                <span>Lẩu ếch</span>
                            </div>
                            <div class="price">
                                <span>399.000đ</span>
                            </div>

                        </a>
                        <div class="book-now">
                            <a href="">
                                Đặt chỗ ngay
                            </a>
                        </div>
                    </div>

                    <div class="product">
                        <a href="">
                            <div class="img">
                                <img src="./images/hotpot/lau-ech-sa-te.jpg" alt="">
                            </div>

                            <div class="promotion">
                                <span>-10%</span>
                            </div>

                           
                            <div class="name-product">
                                <span>Lẩu ếch</span>
                            </div>
                            <div class="price">
                                <span>399.000đ</span>
                            </div>

                        </a>
                        <div class="book-now">
                            <a href="">
                                Đặt chỗ ngay
                            </a>
                        </div>
                    </div>

                    <div class="product">
                        <a href="">
                            <div class="img">
                                <img src="./images/hotpot/lau-ech-sa-te.jpg" alt="">
                            </div>

                            <div class="promotion">
                                <span>-10%</span>
                            </div>

                           
                            <div class="name-product">
                                <span>Lẩu ếch</span>
                            </div>
                            <div class="price">
                                <span>399.000đ</span>
                            </div>

                        </a>
                        <div class="book-now">
                            <a href="">
                                Đặt chỗ ngay
                            </a>
                        </div>
                    </div>
                </div>
    </div>
</div>



<script>
    var header = document.getElementsByTagName('header')[0];
    var search = document.getElementById("search");
    var inputSearch = search.getElementsByTagName("input")[0];

    inputSearch.style.backgroundColor = "#fff"
    header.style.backgroundImage = "url('../images/banner/Untitled-2.jpg')";
    header.style.backgroundRepeat = "no-repeat";
    header.style.backgroundSize = "100%";
    header.style.margin ="0";
</script>